<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vape House</title>
</head>
<body>
    <h1>Bienvenido al Back-End de Vape House</h1>
    <img src="https://scontent.flim2-2.fna.fbcdn.net/v/t1.0-9/60037162_649519088826302_5712132072173207552_n.jpg?_nc_cat=101&_nc_sid=85a577&_nc_ohc=vsgDEeWd5xwAX-f1jB8&_nc_ht=scontent.flim2-2.fna&oh=01587debee630b07c1d73d4437d06be9&oe=5EC612DE" alt="Logo Vape House">
</body>
</html>